<header class="site-header px2 px-responsive">
  <div class="mt2 wrap">
    <div class="measure">
   
   <a class = "site-title1" href="{{ site.url }}">Karan Ahuja - The <span style = "color:#3ED715;">Free</span> Geek.</a>
<div style = "clear:both;"></div>
<br/>
      <nav class="site-nav1">
        {% include navigation.html %}
      </nav>
      <div class="clearfix"></div>
      {% if site.show_social_icons %}
        {% include social_links.html %}
      {% endif %}
    </div>
  </div>
</header>
