<header class="site-header px2 px-responsive">
  <div class="mt2 wrap">
    <div class="measure">

   <a class = "site-title1" href="$site_url$">Karan Ahuja - The <span style = "color:#3ED715;">Free</span> Geek.</a>
<div style = "clear:both;"></div>
<br/>
      <nav class="site-nav1">
        $partial("_includes/navigation.html")$
      </nav>
      <div class="clearfix"></div>
      $if(show_social_icons)$
        $partial("_includes/social_links.html")$
      $endif$
    </div>
  </div>
</header>
