<div class="social-icons">
  <div class="social-icons-right">
    $if(github_username)$
      <a class="fa fa-github" href="https://github.com/$github_username$"></a>
    $endif$
    $if(bitbucket_username)$
      <a class="fa fa-bitbucket" href="https://bitbucket.org/$bitbucket_username$"></a>
    $endif$
    $if(stackoverflow_id)$
      <a class="fa fa-stack-overflow" href="https://stackoverflow.com/users/$stackoverflow_id$"></a>
    $endif$
    <a class="fa fa-rss" href="$baseurl$feed.xml"></a>
    $if(twitter_username)$
      <a class="fa fa-twitter" href="https://twitter.com/$twitter_username$"></a>
    $endif$
    $if(skype_username)$
      <a class="fa fa-skype" href="skype:$skype_username$?userinfo"></a>
    $endif$
    $if(steam_nickname)$
      <a class="fa fa-steam-square" href="http://steamcommunity.com/id/$steam_nickname$"></a>
    $endif$
    $if(google_plus_id)$
      <a class="fa fa-google-plus" href="https://plus.google.com/$google_plus_id$/posts"></a>
    $endif$
    $if(email)$
      <a class="fa fa-envelope" href="mailto:$email$"></a>
    $endif$
    $if(linkedin_username)$
      <a class="fa fa-linkedin" href="https://www.linkedin.com/in/$linkedin_username$"></a>
    $endif$
    $if(angellist_username)$
      <a class="fa fa-angellist" href="https://angel.co/$angellist_username$"></a>
    $endif$
    $if(medium_id)$
      <a class="fa fa-medium" href="https://medium.com/@$medium_id$"></a>
    $endif$
  </div>
  <div class="right">
    $if(bitcoin_url)$
      <a class="fa fa-bitcoin" href="$bitcoin_url$"></a>
    $endif$
    $if(paypal_url)$
      <a class="fa fa-paypal" href="$paypal_url$"></a>
    $endif$
    $if(flattr_button)$
      $flattr_button$
    $endif$
  </div>
</div>
<div class="clearfix"></div>