<div class="post">
  <header class="post-header">
    <h1 class="h2">$title$</h1>
  </header>
  <article class="post-content">
    <div class="py2">
      $if(ajaxify_contact_form)$
        <form class="form-stacked">
          <input type="text" name="email" class="field-light" placeholder="$text_contact_email$">
          <input type="text" name="_gotcha" style="display:none" />
          <button type='submit' class="button button-blue button-big mobile-block">$text_contact_submit$</button>
        </form>
      $else$
        <form action="https://formspree.io/$email$" method="POST" class="form-stacked">
          <input type="text" name="email" class="field-light" placeholder="$text_contact_email$">
          <input type="hidden" name="_next" value="$baseurl$thanks/" />
          <input type="hidden" name="_subject" value="$text_contact_subject$" />
          <input type="text" name="_gotcha" style="display:none" />
          <input type="submit" class="button button-blue button-big mobile-block" value="$text_contact_submit$">
        </form>
      $endif$
    </div>

    $if(ajaxify_contact_form)$
        $partial("_includes/ajaxify_content_form.html")$
    $endif$
  </article>
</div>