<div class="post-header mb2">
  <h1>$title$</h1>
  <span class="post-meta">$date$</span><br>
  $if(updated)$
    <span class="post-meta">$text_post_updated$: $updated$</span><br>
  $endif$
</div>

<article class="post-content">
$partial("templates/post-content.html")$
</article>

$if(show_sharing_icons)$
  $partial("_includes/share_buttons.html")$
$endif$

$if(show_post_footers)$
  $partial("_includes/post_footer.html")$
$endif$

$if(disqus_shortname)$
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_shortname  = '$disqus_shortname$';
    var disqus_identifier = '$slug$';
    var disqus_title      = '$title$';

    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
$endif$

$if(facebook_comments)$
  <div class="fb-comments" data-href="$url$" data-width="100%" data-numposts="$facebook_comments_number$"></div>
$endif$