<div class="home">
	$if(maintenance)$
	<h1 class='center'>$text_index_coming_soon$</h3>
	$else$
    <div class="posts">	
  	$for(posts)$
          <div class="post py3">
  		<p class="post-meta">$date$</p>
            <a href="$url$" class="post-link"><h3 class="h1 post-title">$title$</h3></a>
            $if(teaser)$
            <p class="post-summary">
            	 $teaser$
            </p>
            $endif$
          </div>
  	$endfor$
    </div>

    $partial("_includes/pagination.html")$
	<h3>Archive</h3>		
	$years$
	$endif$
</div>